.hd-Index{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-items: center;
    text-align: center;
    position: fixed;
}

.hd-Img > img {
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 50px;
    border: 2px solid #250996;
    transition: .3s;
}

.hd-Img > img:hover{
    transition: .3s;
    transform: scale(1.2, 1.2);
    cursor:pointer
}

.hd-spanList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
    list-style: none;
    width: 100%;
}

.hd-spanList >li > a{
    text-decoration: none;
    margin-right: 10px;
    transition: .3s;
    position: static;
}

.hd-spanList >li > a:hover{
    transition: .3s;
    transform: scale(1.5, 1.5);
    font-weight: bold;
}
