*{
    background-color: black;
    color: white;
    font-weight: lighter;   
}

.pm-Register > form{
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.pm-Register > form > input{
    margin: 10px auto;
    border-radius: 50px;
    border: none;
    border-bottom: 1px solid white;
}

.pm-Register > form > button {
    border-radius: 50px;
    border: none;
    border-top: 1px solid white;
    transition: .3s;
}

.pm-Register > form > button:hover{
    transform: scale(1.2, 1.2);
    transition: .3s;
    cursor:pointer;
    background-color: white;
    color:black;
}